{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
        <link rel="stylesheet" href="{% static 'js/materialize.js' %}">
    </head>
    <body>
        {% block nav %}
        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">SomASom</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/artist">Artistas</a></li>
                <li><a href="/release">Lançamentos</a></li>
                <li><a href="/manager">Painel</a></li>
                <li>
                    <form action="/search/" method="GET" style="margin:0">
                        {% csrf_token %}
                            <input type="text" id="search" name="search" placeholder="Pesquisar artista, lançamento, musica, track">
                </li>
                <li>
                    <a class="waves-effect waves-light btn"><input type="submit" value="Pesquisar"></a>
                    </form>
                </li>
              </ul>
            </div>
          </nav>
        {% endblock %}
        <br/>
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
        <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l4 offset-l2 s12">
                  <ul>
                    <li><a href="https://github.com/lkauer/somasom" target="_blank"><div> Github </div></a></li>
                    <li><a><div> Doação </div></a></li>
                    <li><a href="/manifest"><div> Manifesto</div></a></li>
                    <li><a><div> contato@somasom.com.br</div></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
    </body>
</html>