{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        {% block nav %}
        <div>
            <ul>
                <li><a href="/"><li>Home</li></a></li>
                <li><a href="/artist"><li>Artistas</li></a></li>
                <li><a href="/release"><li>Lançamentos</li></a></li>
                <li><a href="/manager"><li>Painel</li></a></li>
                <li>
                    <a><input type="text" placeholder="Pesquisar artista, lançamento, musica, track"><button> Pesquisar</button></a>
                </li>
            </ul>
        </div>
        {% endblock %}
        <br/>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>