{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        {% block nav %}
        <div>
            <ul>
                <li><a href="/"><div style="background-color:green; width:100%; height:2%"> Som-A-Som </div></a></li>
                <li><a href="/artist">Artistas</a></li>
                <li><a href="/release">Lançamentos</a></li>
                {% comment %} <li><a href="/manager">Painel</a></li> {% endcomment %}
                <li>
                    <form action="/search" style="margin:0">
                    <a>
                            <input type="text" id="search" placeholder="Pesquisar artista, lançamento, musica, track">
                            <input class="button" type="submit" value="Pesquisar">
                        </a>
                    </form>
                        
                </li>
            </ul>
        </div>
        {% endblock %}
        <br/>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <ul>
            <li><a href="https://github.com/lkauer/somasom" target="_blank"><div> Github </div></a></li>
            <li><a><div> Doação </div></a></li>
            <li><a href="/manifest"><div> Manifesto</div></a></li>
        </ul>
    </body>
</html>