<html>
    <head></head>
    <body>
        <input type="text" placeholder="Pesquisar artista, lançamento, musica, track"><button> Pesquisar</button>
        <h1>Resultado da pesquisa</h1>
            <div style="display:flex;">
                <div style="display: 1; padding: 1%; margin: 1%;">
                    <a href="/artist/3">
                        <img src="https://f4.bcbits.com/img/a0413623548_2.jpg"/>
                        <h4>coração problema</h4>
                    </a>
                </div>
            </div>
        
    </body>
</html>