
{% extends "public/base_menu.html" %}

{% block content %}

<div style="height:200px; width:100%; background-color:green; display:flex; flex-wrap: wrap;"> </div>
        <h1>Resultado da pesquisa</h1>
            <div style="display:flex;">
                <div style="display: 1; padding: 1%; margin: 1%;">
                    <a href="/artist/3">
                        <img src="https://f4.bcbits.com/img/a0413623548_2.jpg"/>
                        <h4>coração problema</h4>
                    </a>
                </div>
            </div>

            {% endblock %}