{% extends "public/base_menu.html" %}

{% block content %}

<div>
<h1>{{release.nm_release}}</h1>
<a href="/artist/{{artist.id_artist}}"><h2>{{artist.nm_artist}}</h2></a>
<p>{{release.ds_release}}</p>
<img src="{{release.ph_release}}"/>
</div>
<p> Lançado em: 2023/02/02</p>
<h1>Faixa</h1>
<p> BPM: 150</p>
<div>
    <audio controls autoplay>
        <source src="horse.ogg" type="audio/ogg">
        <source src="horse.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      <button>download</button>
</div>
<h3>Items da faixa</h3>
<ul>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <p> Guitarra</p>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <p> Baixo</p>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <p> bateria</p>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <p> voz</p>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <p> sax</p>
          <button>download</button>
    </li>
</ul>
<div>
    <h1>Faixa 02</h1>
    <p> BPM: 150</p>
    <div>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </div>
    <h3>Items da faixa</h3>
    <ul>
        <li>
            <audio controls autoplay>
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <button>download</button>
        </li>
        <li>
            <audio controls autoplay>
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <button>download</button>
        </li>
        <li>
            <audio controls autoplay>
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <button>download</button>
        </li>
        <li>
            <audio controls autoplay>
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <button>download</button>
        </li>
        <li>
            <audio controls autoplay>
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <button>download</button>
        </li>
    </ul>
    <div>
        <h1>Faixa 03</h1>
        <p> BPM: 150</p>
<div>
    <audio controls autoplay>
        <source src="horse.ogg" type="audio/ogg">
        <source src="horse.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      <button>download</button>
</div>
<h3>Items da faixa</h3>
<ul>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li>
</ul>
<div>
    <h1>Faixa 04</h1>
    <p> BPM: 150</p>
<div>
    <audio controls autoplay>
        <source src="horse.ogg" type="audio/ogg">
        <source src="horse.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      <button>download</button>
</div>
<h3>Items da faixa</h3>
<ul>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li>
    <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li>
</ul>
<div>
    
</div>
{% endblock %}