<html>
    <head></head>
    <body>
        
        
        {% block nav %}
        <div>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/artist"><li>Artistas</li></a>
                <a href="/release"><li>Lançamentos</li></a>
            </ul>
        </div>
        {% endblock %}
        <input type="text" placeholder="Pesquisar artista, lançamento, musica, track"><button> Pesquisar</button>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>