{% extends "public/base_menu.html" %}

{% block content %}

<h3>Albums</h3>
<div style="display:flex;">
    {% for release in release_list %}
        {% if release.fg_release == "1" %}
            <div style="display: 1; padding: 1%; margin: 1%;">
                <a href="/release/album/{{release.id_release}}">
                    <img class="materialboxed" width="300" src="{{release.ph_release.url}}"/>
                    <h4>{{ release.nm_release }}</h4>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
<h3>Singles</h3>
<div style="display:flex;">
    {% for release in release_list %}
        {% if release.fg_release == "2" %}
            <div style="display: 1; padding: 1%; margin: 1%;">
                <a href="/release/song/{{release.id_release}}">
                    <img class="materialboxed" width="300" src="{{release.ph_release.url}}"/>
                    <h4>{{ release.nm_release }}</h4>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}