{% extends "public/base_menu.html" %}

{% block content %}

<div>
<h1>{{release.nm_release}}</h1>

<a href="/artist/{{artist.id_artist}}"><h2>{{artist.nm_artist}}</h2></a>
<p>{{release.ds_release}}</p>
<img src="{{release.ph_release}}"/>
<p> Lançado em: 2023/02/02</p>
<p> BPM: 150</p>
</div>
<h1>Faixa</h1>
<div>
    <audio controls autoplay>
        <source src="horse.ogg" type="audio/ogg">
        <source src="horse.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
      <button>download</button>
</div>
<h3>Items da faixa</h3>
<ul>
    {% comment %} <li>
        <audio controls autoplay>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
          <button>download</button>
    </li> {% endcomment %}
</ul>
<div>
    
    
</div>
{% endblock %}