{% extends "artist/base.html" %}

{% block content %}

<div>
<h1>Juquinha</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<img src="https://f4.bcbits.com/img/a0524138248_2.jpg"/>

</div>
<div>
    <h2>Lançamentos</h2>
    <h2>Albums</h2>
    <div style="display:flex;">
        <div style="display: 1; padding: 1%; margin: 1%;">
            <a href="/release/album/2">
                <img src="https://f4.bcbits.com/img/a1166542041_7.jpg"/>
                <h4>Albums brabo do juqinho</h4>
            </a>
            <p>2020/01/01</p>
        </div>
        <div style="display: 1; padding: 1%; margin: 1%;">
            <a href="/release/album/3">
                <img src="https://f4.bcbits.com/img/a2118766889_7.jpg"/>
                <h4>Albums brabo do juqinho volume 2</h4>
            </a>
            <p>2020/09/10</p>
        </div>
    </div>
    <h2>Singles</h2>
    <div style="display:flex;">
        <div style="display: 1; padding: 1%; margin: 1%;">
            <a href="/release/song/2">
                <img src="https://f4.bcbits.com/img/a1403024923_7.jpg"/>
            <h4>Single de estreia do juqinha</h4>
        </a>
        <p>2020/09/12</p>
        </div>
        <div style="display: 1; padding: 1%; margin: 1%;">
            <a href="/release/song/3">
                <img src="https://f4.bcbits.com/img/a2118766889_7.jpg"/>
            <h4>Ultimo single lalala</h4>
        </a>
        <p>2020/09/07</p>
        </div>
    </div>
    
</div>
{% endblock %}